{% extends 'templ.html' %}

{% block login_or_registration %}
<div id="headerwraper">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-lg-offset-4">
					<br>
					<div class="panel panel-primary">
						<div class="panel-heading">Успех!</div>
						<div class="panel-body">На указаннай вами e-mail было выслано письмо для подтверждения вашей информации.
							Для окончания процесса регистрации перейдите по ссылке указанной в письме.</div>
					</div>
				</div>
			</div><!--row-->
	</div><!-- /container -->
</div><!-- /headerwrap -->
{% endblock %}